{{#extend "layout"}}
{{#content "main"}}

<div class="my-content">
    <div class="container">

        <div class="my-content__row">
            <div class="my-content__left">
                <aside class="my-menu">
                    <div class="my-menu__header">
                        <div class="my-menu__title">Мы вам рады,</div>
                        <div class="my-menu__name">Некрасова Евгения</div>
                    </div>

                    <div class="my-menu__links">
                        <a href="#" class="my-menu__link active">
                            <svg width="19" height="19" aria-hidden="true" class="my-menu__icon-diamond">
                                <use xlink:href="#diamond"></use>
                            </svg>
                            <svg width="14" height="14" aria-hidden="true" class="my-menu__icon-right">
                                <use xlink:href="#medium-arrow-right"></use>
                            </svg>
                            Главная
                        </a>
                        <a href="#" class="my-menu__link">
                            <svg width="19" height="19" aria-hidden="true" class="my-menu__icon-diamond">
                                <use xlink:href="#diamond"></use>
                            </svg>
                            <svg width="14" height="14" aria-hidden="true" class="my-menu__icon-right">
                                <use xlink:href="#medium-arrow-right"></use>
                            </svg>
                            Мои заказы
                           
                        </a>
                        <a href="#" class="my-menu__link">
                            <svg width="19" height="19" aria-hidden="true" class="my-menu__icon-diamond">
                                <use xlink:href="#diamond"></use>
                            </svg>
                            <svg width="14" height="14" aria-hidden="true" class="my-menu__icon-right">
                                <use xlink:href="#medium-arrow-right"></use>
                            </svg>
                            Мои данные
                            
                        </a>
                        <a href="#" class="my-menu__link">
                            <svg width="19" height="19" aria-hidden="true" class="my-menu__icon-diamond">
                                <use xlink:href="#diamond"></use>
                            </svg>
                            <svg width="14" height="14" aria-hidden="true" class="my-menu__icon-right">
                                <use xlink:href="#medium-arrow-right"></use>
                            </svg>
                            Потратить баллы
                        </a>
                    </div>

                    <a href="#" class="my-menu__quit-btn">
                        Выйти
                    </a>
                    
                </aside>

                
            </div>
            <div class="my-content__right"></div>
        </div>
        

        

        

        

     

    </div>
</div>

{{!-- 
<a href="#" class="about__link">
    Подробнее
    <svg width="14" height="14" aria-hidden="true" class="my-menu__icon-right">
        <use xlink:href="#medium-arrow-right"></use>
    </svg>
</a> --}}


{{/content}}
{{/extend}}