{{#extend "layout"}}
{{#content "main"}}

<div class="my-content">
    <div class="container">

        <div class="my-content__row">
            <div class="my-content__left">
                <aside class="my-menu">
                    <div class="my-menu__header">
                        <div class="my-menu__title">Мы вам рады,</div>
                        <div class="my-menu__name">Некрасова Евгения</div>
                    </div>

                    <div class="my-menu__links">
                        <a href="#" class="my-menu__link active">
                            <svg width="19" height="19" aria-hidden="true" class="my-menu__icon-diamond">
                                <use xlink:href="#diamond"></use>
                            </svg>
                            <svg width="14" height="14" aria-hidden="true" class="my-menu__icon-right">
                                <use xlink:href="#medium-arrow-right"></use>
                            </svg>
                            Главная
                        </a>
                        <a href="#" class="my-menu__link">
                            <svg width="19" height="19" aria-hidden="true" class="my-menu__icon-diamond">
                                <use xlink:href="#diamond"></use>
                            </svg>
                            <svg width="14" height="14" aria-hidden="true" class="my-menu__icon-right">
                                <use xlink:href="#medium-arrow-right"></use>
                            </svg>
                            Мои заказы
                           
                        </a>
                        <a href="#" class="my-menu__link">
                            <svg width="19" height="19" aria-hidden="true" class="my-menu__icon-diamond">
                                <use xlink:href="#diamond"></use>
                            </svg>
                            <svg width="14" height="14" aria-hidden="true" class="my-menu__icon-right">
                                <use xlink:href="#medium-arrow-right"></use>
                            </svg>
                            Мои данные
                            
                        </a>
                        <a href="#" class="my-menu__link">
                            <svg width="19" height="19" aria-hidden="true" class="my-menu__icon-diamond">
                                <use xlink:href="#diamond"></use>
                            </svg>
                            <svg width="14" height="14" aria-hidden="true" class="my-menu__icon-right">
                                <use xlink:href="#medium-arrow-right"></use>
                            </svg>
                            Потратить баллы
                        </a>
                    </div>

                    <a href="#" class="my-menu__quit-btn">
                        Выйти
                    </a>
                    
                </aside>

                
            </div>
            <div class="my-content__right">

                <section class="my-card">
                    <h3 class="my-card__title">Карта лояльности</h3>
                
                    <div class="my-card__props">
                        <div class="my-card__prop">
                            <div class="my-card__prop__label">Номер вашей карты:</div>
                            <div class="my-card__prop__value">1987600</div>
                        </div>

                        <div class="my-card__prop__label">Баланс:</div>
                        <div class="my-card__prop__value">300 бонусов</div>
                    </div>

                    <div class="my-card__wallets">
                        <div class="my-card__wallet">
                            <a href="#" class="my-card__wallet__btn">
                                <img src="img/wallet.png" alt="">
                                <div class="my-card__wallet__text">
                                    Добавить в Apple Wallet
                                </div>
                            </a>
                        </div>
                        <div class="my-card__wallet">
                            <a href="#" class="my-card__wallet__btn">
                                <img src="img/wallet.png" alt="">
                                <div class="my-card__wallet__text">
                                    Добавить в Google Pay
                                </div>
                            </a>
                        </div>
                    </div>
                    
                    <div class="my-card__footer">
                        <a href="#" class="my-card__btn-help">Подробнее о программе лояльности</a>
                    </div>
                </section>

                <section class="my-bookings">
                    <h3 class="my-bookings__title">Актуальные бронирования</h3>
                    
                    <div class="my-bookings__list">
                        <div class="my-bookings__item">
                            Ближайшее посещение в Общественные бани на 26 августа в 8:00
                            <br>Код бронирования: <strong>ОБ9454</strong>
                        </div>
                        <div class="my-bookings__item">
                            Ближайшее посещение в Общественные бани на 26 августа в 8:00
                            <br>Код бронирования: <strong>ОБ9454</strong>
                        </div>
                    </div>
                    
                    <div class="my-bookings__footer">
                        <a href="#" class="my-bookings__btn-more">
                            Подробнее о заказе
                        </a>
                    </div>
                </section>

                <section class="my-promo">

                    <div class="my-promo__header">
                        <h3 class="my-promo__title">Персональные предложения</h3>
                        <div class="my-promo__arrows">
                            <button class="my-promo__arrow my-promo__arrow--prev">
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                                    <use xlink:href="#arrow-left"></use>
                                </svg>
                            </button>
                            <button class="my-promo__arrow my-promo__arrow--next">
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </button>
                        </div>
                    </div>

                    <div class="my-promo__slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#" class="my-promo__item">
                                        
                                        <div class="my-promo__name">Ваш день</div>

                                        <div class="my-promo__desc">
                                            За 7 дней до и 7 дней
                                            после дня рождения
                                            скидка 15%
                                        </div>

                                        <div class="my-promo__link">
                                            Подробнее
                                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#medium-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </div>

                                <div class="swiper-slide">
                                    <a href="#" class="my-promo__item">
                                        
                                        <div class="my-promo__name">Бьюти-девичник</div>

                                        <div class="my-promo__desc">
                                            Специальные условия на пакетное предложение!
                                        </div>

                                        <div class="my-promo__link">
                                            Подробнее
                                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#medium-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </div>

                                <div class="swiper-slide">
                                    <a href="#" class="my-promo__item">
                                        <div class="my-promo__name">Ваш день</div>

                                        <div class="my-promo__desc">
                                            За 7 дней до и 7 дней
                                            после дня рождения
                                            скидка 15%
                                        </div>

                                        <div class="my-promo__link">
                                            Подробнее
                                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#medium-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="my-orders">
                    <div class="my-orders__header">
                        <h3 class="my-orders__title">Мои заказы</h3>
                        <div class="my-orders__ctrl">
                            <button class="my-orders__ctrl__btn">Актуальные</button>
                            <button class="my-orders__ctrl__btn">История</button>
                        </div>
                    </div>

                    <div class="my-orders__table">
                        <div class="my-orders__header">
                            <div>Заказ</div>  
                            <div>Наименование</div>
                            <div>Дата заказа </div>
                            <div>Стоимость</div>    
                            <div>Статус</div>  
                        </div>
                        <div class="my-orders__body">
                            <div class="my-orders__row">
                                <div>
                                    №13213424
                                    <a href="#">подробнее</a>
                                </div>
                                <div>
                                    Посещение общественных бань   
                                </div>
                                <div>
                                    08.08.2022
                                </div>
                                <div>
                                    13 000 Руб 
                                </div>
                                <div>
                                    Оплачен
                                </div>
                            </div>
                            <div class="my-orders__row">
                                <div>
                                    №13213424
                                    <a href="#">подробнее</a>
                                </div>
                                <div>
                                    Аренда банного номера 
                                </div>
                                <div>
                                    08.08.2022
                                </div>
                                <div>
                                    13 000 Руб 
                                </div>
                                <div>
                                    Оплачен
                                </div>
                            </div>
                            <div class="my-orders__row">
                                <div>
                                    №13213424
                                    <a href="#">подробнее</a>
                                </div>
                                <div>
                                    Подарочный сертификат
                                </div>
                                <div>
                                    08.08.2022
                                </div>
                                <div>
                                    13 000 Руб 
                                </div>
                                <div>
                                    <div class="my-orders__paid">Обработка</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="my-person">
                    <h3 class="my-person__title">
                        Мои данные
                    </h3>

                    <div class="my-person__data">
                        <div class="my-person__item">
                            <div class="my-person__label">Имя</div>
                            <div class="my-person__value">Некрасова Евгения</div>
                        </div>

                        <div class="my-person__item">
                            <div class="my-person__label">Дата рождения</div>
                            <div class="my-person__value">25.04.1993</div>
                        </div>

                        <div class="my-person__item">
                            <div class="my-person__label">Пол</div>
                            <div class="my-person__value">Женский</div>
                        </div>

                        <div class="my-person__item">
                            <div class="my-person__label">Телефон</div>
                            <div class="my-person__value">+7 (873) 445 - 55 - 44</div>
                        </div>

                        <div class="my-person__item">
                            <div class="my-person__label">Email</div>
                            <div class="my-person__value">evgenia.nekrasova25@gmail.com</div>
                        </div>
                    </div>
                    
                    <div class="my-person__footer">
                        <a href="#" class="my-person__btn-edit">редактировать</a>
                    </div>
                </section>

            </div>
        </div>
        

        

        

        

     

    </div>
</div>




{{/content}}
{{/extend}}