.auth-panel {
    padding: 13rem 0;
    background: #ede8dd;

    &__body {
        max-width: 93rem;
        padding: 10rem 5rem;
        margin: 0 auto;
        background: #ffffff;
    }

    &__title {
        margin-bottom: 3rem;
        font-family: var(--zhar-ptitza);
        font-size: 4rem;
        text-align: center;
        color: #3a241f;
    }

    &__form {
        max-width: 33rem;
        margin: 0 auto;
    }

    &__field {

    }

    &__btn {

    }

    &__tip {
        margin: 0 auto;
        margin-top: 3rem;
        max-width: 40rem;
        font-size: 1rem;
        line-height: 1.4;
        text-align: center;
        color: #968A71;
    }



}

@media only screen and (max-width: 640px) {

    .auth-panel {
        padding-top: 7rem;
        padding-bottom: 3rem;
        background: none;

        &__title {
            font-size: 3.2rem;
        }

        &__body {
            padding: 0;
        }

        &__btn {
            margin-top: 3rem;
        }
    }
    
}