.my-checkout {

    &__return {
        margin-bottom: 4.6rem;
    }

    &__header {
        display: flex;
        align-items: flex-end;
        margin-bottom: 2.5rem;

        &__left {

        }

    
    }

    &__code {
        margin-left: auto;
        padding-left: 2rem;

        &__label {
            font-size: 1.4rem;
            font-weight: 450;
            line-height: 1.4;
        }

        &__value {
            margin-top: .5rem;
            font-size: 4rem;
            font-family: var(--zhar-ptitza);
            color: #3A241F;
        }
    }

    &__title {
        margin-bottom: .7rem;
        font-size: 4rem;
        font-family: var(--zhar-ptitza);
        line-height: 1.4;
        color: #3A241F;
    }

    &__props {
        display: flex;
        gap: 2rem;
        font-size: 2rem;
        font-weight: 450;
        line-height: 1.4;

        dl {
            display: inline-flex;
            gap: 1rem;
        }
        
        dd {
            font-weight: 700;
        }
    }
    
    &__footer {
        text-align: right;
        font-weight: 700;
    }

    &__discount {
        margin-top: 2.5rem;
        font-size: 1.4rem;
    }

    &__total {
        margin-top: 0.5rem;
        font-size: 2rem;
    }

    &__status {
        margin-top: 2.3rem;
        font-size: 1.4rem;
        color: #968A71;
    }
}